* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  background-color: rgb(255, 255, 144);
}

#container_game {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: rgba(255, 255, 255, 0.856);
  padding-bottom: 5%;
  width: 50%;
  margin: auto;
  border-radius: 10px;
  box-shadow: 2px 2px rgb(90, 89, 89);
  margin-top: 100px;
}

#container_count {
  width: 100%;
  margin: 10%;
}

#coin_results {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

#count_heads,
#count_tails {
  font-size: 30px;
  margin: 0;
}

#container_coin {
  margin-top: 2%;
  height: 180px;
}

.coins {
  backface-visibility: hidden;
  top: 0;
}

img {
  width: 180px;
}

#tails {
  transform: rotateY(180deg);
}

#heads {
  display: none;
  animation: flip 0.5s forwards;
}

#tails {
  display: none;
  animation: flip 0.5s forwards;
}

@keyframes flip {
  from {
    transform: rotateY(0deg);
  }

  to {
    transform: rotateY(1800deg);
  }
}

.container_result_coin {
  min-height: 100px;
  font-size: 22px;
  padding-top: 5%;
}

#container_buttons {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding-left: 10%;
  padding-right: 15%;
}

#container_buttons > button {
  margin-top: 10px;
  padding: 10px;
  border-radius: 50px;
  cursor: pointer;
  font-size: 25px;
  box-shadow: 2px 2px rgb(90, 89, 89);
  transition: transform 0.3s ease-in-out;
}

#flip_btn:hover {
  background-color: rgb(255, 240, 182);
  transform: scale(1.1);
}

#reset_btn:hover {
  background-color: rgb(255, 240, 182);
  transform: scale(1.1);
}
